<div class="container-fluid">
  <div class="d-flex align-items-center min-vh-100">
    <div class="container mx-auto">
      <div class="row">
        <div class="col-md-4 pt-4">
          <div class="card user-card shadow border-0 h-100 rounded-4">
            <div class="card-body">
              <div
                class="d-flex justify-content-center flex-column align-items-center h-100 ">
                <div class="initial-letter shadow">
                  {{ avatarName }}
                </div>
                <div class="mt-3">
                  <h4 class="username">{{userData?.fullName}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 pt-4">
          <form [formGroup]="profilePageForm">
            <div class="card edit-detail-card shadow border-0 rounded-4">
              <div class="card-body">
                <div class="row my-auto">
                  <div class="col-sm-3 fw-bold">Full name</div>
                  <div class="col-sm-9 d-flex justify-content-center flex-column h-100">
                    <input type="text" class="form-control text-secondary py-1" formControlName='fullName'/>
                    <div class="form-text text-danger fixed-height">
                      <span
                        *ngIf="profilePageFormController['fullName'].errors?.['required'] && (profilePageFormController['fullName'].touched || profilePageFormController['fullName'].dirty)"
                      >
                        Field is required.
                      </span>
                    </div>
                  </div>
                </div>
                <hr class="my-2 pb-2"/>
  
                <div class="row">
                  <div class="col-sm-3 fw-bold">Email</div>
                  <div class="col-sm-9 d-flex justify-content-center flex-column h-100">
                    <input type="email" class="form-control text-secondary py-1" formControlName='email'>
                    <div class="form-text text-danger fixed-height">
                      <span
                        *ngIf="profilePageFormController['email'].errors?.['required'] && (profilePageFormController['email'].dirty || profilePageFormController['email'].touched)"
                      >
                        Field is required.
                      </span>
                      <span
                        *ngIf="profilePageFormController['email'].errors?.['email'] && (profilePageFormController['email'].dirty || profilePageFormController['email'].touched)"
                      >
                        Email is Invalid.
                      </span>
                    </div>
                  </div>
                </div>
                <hr class="my-2 pb-2"/>
  
                <div class="row">
                  <div class="col-sm-3 fw-bold">Phone</div>
                  <div class="col-sm-9 d-flex justify-content-center flex-column h-100">
                    <input type="tel" class="form-control text-secondary py-1" formControlName="mobile">
                    <div class="form-text text-danger fixed-height">
                      <span
                        *ngIf="profilePageFormController['mobile'].errors?.['required'] && (profilePageFormController['mobile'].touched || profilePageFormController['mobile'].dirty)"
                      >
                        Field is required.
                      </span>
                    </div>
                  </div>
                </div>
                <hr class="my-2 pb-2"/>
  
                <div class="row">
                  <div class="col-sm-3 fw-bold">Gender</div>
                  <div class="col-sm-9 d-flex justify-content-center flex-column h-100">
                    <input type="text" class="form-control text-secondary py-1" formControlName="gender">
                    <div class="form-text text-danger fixed-height">
                      <span
                        *ngIf="profilePageFormController['gender'].errors?.['required'] && (profilePageFormController['gender'].touched || profilePageFormController['gender'].dirty)"
                      >
                        Field is required.
                      </span>
                    </div>
                  </div>
                </div>
                <hr class="my-2 pb-2" />
  
                <div class="row">
                  <div class="col-sm-3 fw-bold">Date of Birth</div>
                  <!-- <div class="col-sm-9 d-flex justify-content-center flex-column h-100">
                    <input type="text" class="form-control text-secondary py-1" formControlName="dateOfBirth">
                     <div class="form-text text-danger fixed-height">
                      <span
                        *ngIf="profilePageFormController['dateOfBirth'].errors?.['required'] && (profilePageFormController['dateOfBirth'].touched || profilePageFormController['dateOfBirth'].dirty)"
                      >
                        Field is required.
                      </span>
                    </div>
                  </div> -->
                </div>
                <hr class="my-2"/>
                
                <div class="row">
                  <div class="col-sm-3 d-flex justify-content-between">
                    <button type="button" *ngIf="profilePageForm?.disabled" class="btn btn-info text-white" (click)="editUserdetails()">Edit</button>
                    <button type="button" *ngIf="!profilePageForm?.disabled" class="btn btn-info text-white" (click)="updateUserDetails()">Save</button>
                    <button type="button" *ngIf="!profilePageForm?.disabled" class="btn btn-info text-white" (click)="cancelUpdate()">Cancle</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
