:host {

  mat-form-field {
    mat-icon {
      padding: 8px !important;
      color: gray !important;
    }
  }

  mat-progress-spinner {
    width: 130px !important;
  }

  .user-profile-div {
    padding: 0 40px;
    margin: 40px auto;
    min-height: calc(100vh - 115px) !important;
  }

  .card-layout {
    border-radius: 15px;
    padding: 15px;
  }

  .initial-letter {
    width: 130px;
    height:130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 3.5rem;
    color: white;
    text-align: center;
    line-height: 10rem;
    background-color: #6a9cd2;
    box-shadow: 0 0.5rem 1rem #6a9cd28f !important;
  }

  table {
    height: 300px;
    tr {
      border-bottom: 2px solid #f7f2f2;
    }
  }

  .common-btn {
    border: none;
    border-radius: 5px;
  }

  .btn-update, .btn-change {
    background: #367dc8;
    color: white;
    box-shadow: 0 5px 10px #a4c4e6;
    transition: 0.2s;
    &:hover:not([disabled]) {
      box-shadow: 0 0 40px 40px rgb(146, 199, 235) inset;
      color: #174b83;
      font-weight: 500;
    }
    &:disabled {
      background: #8f9ba8;
    }
  }

  .btn-cancel {
    background: #ce2a2af0;
    color: white;
    box-shadow: 0 5px 10px #e7b1b1f0;
    transition: 0.2s;
    width: 25%;
    &:hover {
      box-shadow: 0 0 40px 40px rgb(255 162 145) inset;
      color: rgb(251 4 4);
      font-weight: 500;
    }
  }

  .btn-save {
    background: rgb(16 144 27 / 94%);
    color: white;
    box-shadow: 0 5px 10px rgb(120 206 108 / 94%);
    transition: 0.2s;
    width: 25%;
    &:hover {
      box-shadow: 0 0 40px 40px rgb(186 234 194) inset;
      color: rgb(12 61 15);
      font-weight: 500;
    }
  }

  .mat-mdc-card-content {
    padding: 10px;
  }

  ::ng-deep {

    .mat-mdc-form-field-subscript-wrapper {
      height: 10px !important;
    }

    .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex {
      height: 40px !important;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
      padding-top: 10px !important;
    }
  }
}