
.initial-letter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    font-size: 3.5rem;
    color: #000000;
    text-align: center;
    line-height: 10rem;
    background-color: rgb(213, 235, 235);
  }
//   .input-detail {
//     box-shadow: none;
//     border-radius: 1px;
//     width: 100%;
//     border: none;
//   }
