:host {

  mat-form-field {
    mat-icon {
      padding: 8px !important;
      color: gray !important;
    }
  }

  .user-profile-div {
    padding: 0 40px;
    margin: 40px auto;
  }

  .card-layout {
    border-radius: 15px;
    padding: 15px;
  }

  .initial-letter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    font-size: 3.5rem;
    color: #424141;
    text-align: center;
    line-height: 10rem;
    background-color: rgb(208 211 211);
  }

  table {
    height: 300px;
    tr {
      border-bottom: 2px solid #f7f2f2;
    }
  }

  .common-btn {
    background: #ebebeb;
    width: 30%;
    height: auto;
    min-height: 30px;
    border: gray solid 1px;
    border-radius: 5px;
    font-size: 15px;

    &:hover,
    &:focus {
        color: #fff;
        outline: 0;
    }
  }

  .btn-update {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover {
      box-shadow: 0 0 40px 40px gray inset;
    }
  }

  .btn-change {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover {
      box-shadow: 0 0 40px 40px gray inset;
    }
  }

  .btn-save {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover {
      box-shadow: 0 0 40px 40px gray inset;
    }
  }

  .btn-cancel {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover {
      box-shadow: 0 0 40px 40px gray inset;
    }
  }

}