$btn-primary: #5555ff;
$bg-colour: #eeeeee69;
$border-colour: #eee;
.card-container {
  max-height: 380px !important;
  min-height: 240px !important;
}

.img-content {
  min-height: 140px;
  max-height: 240px;
}
.text-content {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-content {
  background-color: $btn-primary;
  border-color: $btn-primary;
  border-radius: 8px;
}
.input-box {
  position: relative;
}
.input-box i {
  position: absolute;
  right: 13px;
  top: 10px;
  color: #ced4da;
}
.field-content {
  height: auto;
  background: transparent;
}
.icon {
  font-size: medium;
}
.field-content:focus {
  background-color: $bg-colour;
  box-shadow: none;
  border-color: $border-colour;
}

.max-width {
  max-width: 450px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .row {
    &.justify-content {
      display: flex;
      justify-content: center;
    }
  }
}
