$btn-primary: #5555ff;
.cardContainer {
  max-height: 380px !important;
  min-height: 240px !important;
}

.img-content {
  min-height: 140px;
  max-height: 240px;
}
.text-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @supports (-webkit-line-clamp: 4) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
.btn-content {
  background-color: $btn-primary;
  border-color: $btn-primary;
  border-radius: 8px;
}

.max-width {
  max-width: 450px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .row {
    &.justify-content {
      display: flex;
      justify-content: center;
    }
  }
}