<app-header></app-header>
<div class="card shadow" id="card" style="margin-top: 80px;">
  <div class="card-body" style="padding: 0px;">
    <div class="row g-0">
      <div class="col text-center mb-3 mt-4">
        <span class="fs-3">Choose Quiz</span>
      </div>
    </div>


    <div class="row">
      <div class="col-3 p-3" *ngFor="let data of QuizType; let i = index">
        <div class="">
          <div class="card shadow">
            <img class="card-img-top" src="{{data.image}}" alt="">
            <div class="card-body">
              <h5 class="card-title">{{data.title}}</h5>
              <p class="card-text">
                {{data.description}}
              </p>
              <div class="text-center">
                <button type="button" class="btn btn-primary" (click)="quizname(data.quizId)">Start Quiz</button>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-sm-4">
          <div class="card shadow ">
            <img class="card-img-top" src="{{image[1]?.image}}" alt="">
            <div class="card-body">
              <h5 class="card-title">{{title[1]?.title}}</h5>
              <p class="card-text">
                {{description[1]?.description}}
              </p>
              <div class="text-center">
                <button type="button" class="btn btn-primary" (click)="quizname(title[1]?.quizId)">Start Quiz</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card shadow ">
            <img class="card-img-top" src="{{image[2]?.image}}" alt="">
            <div class="card-body">
              <h5 class="card-title">{{title[2]?.title}}</h5>
              <p class="card-text">
                {{description[2]?.description}}
              </p>
              <div class="text-center">
                <button type="button" class="btn btn-primary" (click)="quizname(title[2]?.quizId)">Start Quiz</button>
              </div>
            </div>
          </div>
        </div> -->

        <!-- <div class="col-sm-4">
          <div class="card shadow ">
            <img class="card-img-top" src="{{images[imagesssindex]}}" alt="">
            <div class="card-body">
              <h5 class="card-title">{{subject[imagesssindex]}}</h5>
              <p class="card-text">
                {{descriptions[imagesssindex]}}
              </p>
              <div class="text-center">
                <button type="button" class="btn btn-primary" (click)="quizname()">Start Quiz</button>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-sm-4">
          <div class="card shadow ">
            <img class="card-img-top" src="{{images[imagesssindex]}}" alt="">
            <div class="card-body">
              <h5 class="card-title">{{subject[imagesssindex]}}</h5>
              <p class="card-text">
                {{descriptions[imagesssindex]}}
              </p>
              <div class="text-center">
                <button type="button" class="btn btn-primary" (click)="quizname()">Start Quiz</button>
              </div>
            </div>
          </div>
        </div>

        <a href="#" class="text-center">Load more</a> -->
      </div>
    </div>
  

  </div>
</div>