:host {

  .main-div {
    padding: 0 40px;
    margin: 40px auto;
    min-height: calc(100vh - 115px) !important;
  }

  .cardContainer {
    max-height: 380px !important;
    min-height: 240px !important;
  }

  .img-content {
    min-height: 40%;
    max-height: 40%;
  }

  .btn-content {
    border-radius: 8px;
  }

  .icons {
    font-size: 50px;
  }

  .icon-color-1 {
    color: #3793db;
  }
  .icon-color-2 {
    color: #2bb070;
  }
  .icon-color-3 {
    color: #ff5c33;
  }
  .icon-color-4 {
    color: #dab92deb;
  }

  .border-inline {
    border-right: 1px solid black;
    height: 20%;
  }

  .p-15 {
    padding: 15px;
  }

  .quiz-list {
    height: 400px;
  }

  mat-spinner {
    width: 100px !important;
    height: 50px !important;
  }

  .btn-start {

    background: #367dc8;
    color: white;
    width: 40%;
    // border: rgb(41, 40, 40) solid 1px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 10px #a4c4e6;
    height: 35px;
    font-size: 15px;
    transition: 0.2s;

    &:hover {
      box-shadow: 0 0 40px 40px rgb(146, 199, 235) inset;
      color: #174b83;
      font-weight: 500;
    }
  }

  .toggleShow a {
    color: #367dc8;
    cursor: pointer !important;
  }

  .showBorder {
    border-right: 1px solid black !important;
  }
}
