<div class="row">
  <h2><b>Privacy Policy  :</b></h2>
  <p><b>What information Jyoti Technposoft LLP collects and Why ?</b></p>
  <p>In order to give you the best possible experience using Jyoti Technposoft LLP,
    we collect information from your interactions with our network. We use common internet technologies,
    such as cookies and web server logs.
    We collect this basic information from everybody, whether they have an account or not.
  </p>
  <p><b>The information we collect about all visitors to our website includes  :</b></p>
  <div>
    <ul>
      <li>The visitor’s browser type</li>
      <li>Referring site</li>
      <li>The date and time of each visitor request</li>
    </ul>
    <p><b>Use this information to  :</b></p>
    <ul>
      <li>Provide, test, improve, promote and personalize Jyoti Technposoft LLP Services</li>
      <li>Fight spam and other forms of abuse</li>
    </ul>
  </div>
</div>
