<div class="container">
  <div class="py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card p-5">
          <div class="d-flex flex-column align-items-center text-center">
            <div class="initial-letter">
              <div [innerHtml]="initialLetter(userData?.fullName)"></div>
            </div>
            <div class="mt-3">
              <h4>{{ userData?.fullName }}</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="row"></div>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="fw-bold">FullName</h6>
              </div>
              <div class="col-sm-9">{{ userData?.fullName }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="fw-bold">Email</h6>
              </div>
              <div class="col-sm-9">{{ userData?.email }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="fw-bold">Password</h6>
              </div>
              <div class="col-sm-9">{{ userData?.password }}</div>
            </div>
            <hr />

            <div class="row">
              <div class="col-sm-3">
                <h6 class="fw-bold">Date of Birth</h6>
              </div>
              <div class="col-sm-9">{{ userData?.dateOfBirth }}</div>
            </div>
            <hr />

            <div class="row">
              <div class="col-sm-3">
                <h6 class="fw-bold">Mobile no</h6>
              </div>
              <div class="col-sm-9">{{ userData?.mobile }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-12">
                <button
                  type="button"
                  (click)="open(content)"
                  class="btn btn-primary"
                >
                  Edit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="fullName">FullName</label>
        <div class="input-group">
          <input
            id="dateOfBirth"
            class="form-control"
            placeholder="Full Name"
            name="dp"
            ngbDatepicker
            #dp=""
          />
          <button
            class="btn btn-outline-secondary bi bi-calendar3"
            type="button"
          ></button>
        </div>
      </div>
      <div class="mb-3">
        <label for="fullName">FullName</label>
        <div class="input-group">
          <input
            id="dateOfBirth"
            class="form-control"
            placeholder="Full Name"
            name="dp"
            ngbDatepicker
            #dp=""
          />
          <button
            class="btn btn-outline-secondary bi bi-calendar3"
            type="button"
          ></button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="modal.close('Save click')"
    >
      Update
    </button>
  </div>
</ng-template>
