<div class="container">
  <div class="py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card p-5">
          <div class="d-flex flex-column align-items-center text-center">
            <div class="initial-letter">
              <div [innerHtml]="initialLetter(userData?.fullName)"></div>
            </div>
            <div class="mt-3">
              <h4>{{ userData?.fullName }}</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="fw-bold">FullName</h6>
              </div>
              <div class="col-sm-9">{{ userData?.fullName }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="fw-bold">Email</h6>
              </div>
              <div class="col-sm-9">{{ userData?.email }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="fw-bold">Password</h6>
              </div>
              <div class="col-sm-9">{{ userData?.password }}</div>
            </div>
            <hr />

            <div class="row">
              <div class="col-sm-3">
                <h6 class="fw-bold">Date of Birth</h6>
              </div>
              <div class="col-sm-9">{{ userData?.dateOfBirth }}</div>
            </div>
            <hr />

            <div class="row">
              <div class="col-sm-3">
                <h6 class="fw-bold">Mobile no</h6>
              </div>
              <div class="col-sm-9">{{ userData?.mobile }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-12">
                <button
                  type="button"
                  (click)="open(content)"
                  class="btn btn-primary"
                >
                  Edit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile Update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.close('Cross click')"
    ></button>
  </div>

  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="fullName">FullName</label>
        <div class="col-mb-3">
          <input
            type="text"
            placeholder="Full Name"
            class="form-control"
            id="fullName"
            name="fullName"
            [(ngModel)]="userData.fullName"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="email">Email</label>
        <div class="col-mb-3">
          <input
            type="email"
            placeholder="Email Address"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="userData.email"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="password">Password</label>
        <div class="col-mb-3">
          <input
            type="password"
            placeholder="Password"
            class="form-control"
            id="password"
            name="password"
            [(ngModel)]="userData.password"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth">Date of Birth</label>
        <div class="col-mb-3">
          <input
            type="date"
            class="form-control"
            (keydown)="(false)"
            id="dateOfBirth"
            name="dateOfBirth"
            [(ngModel)]="userData.dateOfBirth"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="mobile">Mobile no</label>
        <div class="col-mb-3">
          <input
            type="number"
            placeholder="Mobile Number"
            class="form-control"
            id="mobile"
            name="mobile"
            [(ngModel)]="userData.mobile"
          />
        </div>
      </div>
    </form>
  </div>

  <div class="button-footer">
    <button
      type="button"
      data-dismiss="modal"
      class="btn btn-primary"
      (click)="Update()"
    >
      Update
    </button>
  </div>
</ng-template>
