<div class="chart-card">
  <div class="row">
    <div class="col-12">
      <div *ngIf="showChart">
        <h2 class="text-center top-heading-label">
          {{ subjectType | titlecase }}
        </h2>
      </div>
        <div #chartContainer class="chart-area" [ngStyle]="{'display': showChart ? 'block' : 'none'}">
          <div #tooltip class="tooltip"></div>
  
          <figure id="bar1"></figure>
  
          <figure id="bar2" class="hide-chart"></figure>
        </div>
    </div>
  </div>
</div>

<div class="empty-card row" *ngIf="!showChart">
  <div class="notdata col-6">
    <h4 class="notdata-title">Sorry, !No quiz played yet</h4>
    <p class="notdata-description">
      <strong>Thank you for your interest,</strong>
    </p>
    <p class="notdata-description">Please attempt any quiz!</p>
    <div class="notdata-button">
      <button class="btn btn-outline-primary back-quiz" routerLink="/dashboard">Go to quiz</button>
    </div>
  </div>
</div>
