<div class="main-div">
  <div class="d-flex flex-row justify-content-center" *ngIf="isApiCalling">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <div [ngStyle]="{'width': isMobileView ? '100%' : '70%'}" class="empty-card row" *ngIf="subjectWiseData.length === 0 && !isApiCalling">
    <div class="notdata col-6">
      <h4 class="notdata-title">Sorry, !No quiz played yet</h4>
      <p class="notdata-description">
        <strong>Thank you for your interest,</strong>
      </p>
      <p class="notdata-description">Please attempt any quiz!</p>
      <div class="notdata-button">
        <button type="button" class="btn-quiz" routerLink="/dashboard"> Go to quiz </button>
      </div>
    </div>
  </div>
  <div class="chart-card">
    <div class="col-12" [ngStyle]="{'width': isMobileView ? '100%' : '80%'}">
      <div *ngIf="!isApiCalling" class="h5 d-flex justify-content-center">{{ subjectType | titlecase }}</div>
      <div #chartContainer class="chart-area" [ngStyle]="{'display': showChart ? 'block' : 'none'}">
        <div #tooltip class="tooltip"></div>
        <div id="bar1"></div>
        <div id="bar2" class="hide-chart"></div>
      </div>
    </div>
  </div>
</div>
