<nav
  class="navbar fixed-top navbar-expand-sm navbar-light bg-light"
  style="padding: 0px"
>
  <div class="container-fluid">
    <a class="navbar-brand h1" routerLink="/dashboard">
      <img class="d-inline-block image" src="assets/img/logo1.png" />
      <span>APPLICATION</span></a
    >

    <div class="navigation">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <img
            src="assets/img/logo1.png"
            alt="Company Logo"
            class="img-responsive image"
          />
          <div ngbDropdown class="d-inline-block">
            <a
              type="button"
              class="nav-link dropdown-toggle"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              {{ userName }}
            </a>
            <div
              ngbDropdownMenu
              class="dropdownInfo"
              aria-labelledby="dropdown"
            >
              <button ngbDropdownItem (click)="about()">About</button>
              <button ngbDropdownItem (click)="signout()">Sign Out</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
