.navbar-brand {
  margin: 0px;
}

.image {
  width: 35px;
  height: 35px;
}

.dropdown-layout {
  min-width: auto;
  border: none;
}

.img-responsive {
  border-radius: 50px;
  width: 37px;
  height: 37px;
  background-color: #ffff;
}
.dropdown-toggle::after {
  vertical-align: middle;
}

.title {
  border-bottom: 3px solid green;
  font-size: 15px;
}

.dropdown {
  cursor: pointer;
  min-width: auto;
}

.btn.btn-primary {
  margin-left: 10px;
  margin-bottom: 5px;
}

.btn.btn-secondary {
  margin-left: 50%;
  margin-bottom: 5px;
}

.initial-letter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1rem;
  color: #000000;
  text-align: center;
  line-height: 10rem;
  background-color: rgb(213, 235, 235);
  font-weight: 400;
  margin-right: 5px;
}

.btn-dropdown {
  &:hover {
    background-color: #cce5ff;
    border: none;
    border-radius: none;
  }
}

.ml-5 {
  margin-left: 5rem;
}

.navbar-menu {
  color: #5555ff;
  font-weight: 500;
  &:hover {
    font-weight: 900;
  }
}

.layout-container {
  height: -webkit-fill-available;
  min-height: 95vh;
}

$color_1: #77619e;

.sidebar {
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 210px;
background: #ffff;
z-index: 100;
transition: all 0.5s ease;
&.close {
  width: 78px;
  .nav-links {
    overflow: visible;
    .menu-item {
      .icon-link {
        display: block;
      }
      a {
        .link-name {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }
}
.nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .menu-item {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
    &:hover {
      background: #f3f1f6;
    }
    .icon-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .icon {
      height: 50px;
      min-width: 78px;
      text-align: center;
      line-height: 50px;
      color: $color_1;
      font-size: 20px;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .item-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      .link-name {
        font-size: 18px;
        font-weight: 400;
        color: $color_1;
        transition: all 0.4s ease;
      }
    }
  }
}
}

@media (max-width: 400px) {
.sidebar {
  width: 78px;
}
.sidebar.close {
  width: 0;
}
}
