:host {
    .main-div {
        padding: 0 40px;
        margin: 40px auto;
    }

    .mt-15 {
        margin-top: 15px;
    }

    .card-layout {
        border-radius: 15px;
        padding: 20px;
      }

    .card-img-top {
        opacity: 0.1;
        position: absolute;
        top:20%;
        pointer-events: none;
    }

    .card-content {
        height: auto;
        margin: 15px;
    }

    .card-subtitle {
        margin-bottom: 10px;
        margin-left: 8px;
        padding: 6px;
    }

    .h-50 {
        height: 50px;
    }

    .fs-50 {
        font-size: 50px;
    }

    mat-icon {
        font-size: 35px;
        height: 35px;
        width: 35px;
    }

    .mr-20 {
        margin-right: 10px;
    }

    .btn-back {
        color: rgb(27, 26, 26);
        border: 1px solid #dadbdd;
        border-radius: 5px;
        height: 35px;
        font-size: 15px;
        font-weight: 500;
        &:hover {
            background: #dddddd;
        }
    }

    .btn-play {
        background: #367dc8;
        color: white;
        border: none;
        border-radius: 5px;
        box-shadow: 0 5px 10px #a4c4e6;
        height: 35px;
        font-size: 15px;
        transition: 0.2s;
        &:hover {
            box-shadow: 0 0 40px 40px rgb(146, 199, 235) inset;
            color: #174b83;
            font-weight: 500;
        }
    }
}