.card-layout {
  border-radius: 15px;
  height: fit-content;
}


.card-img-top {
  opacity: 0.1;
  position: absolute;
  top:20%;
  pointer-events: none;

}
.card-title {
  margin-bottom: 10px;
  padding: 6px;
  border-radius: 6px;
}
.card-subtitle {
  margin-bottom: 10px;
  margin-left: 8px;
  padding: 6px;
}
