<div class="container">
  <div class="d-flex min-vh-100 align-items-center justify-content-around">
    <div class="card shadow card-layout">
      <div class="card-body">
        <div class="container">
        <img class="card-img-top" src="assets\img\rules.png" alt="Rules-image" />
        </div>
        <h2 class="card-title text-center">Welcome to Quiz App</h2>
        <h4 class="card-subtitle">Rules:</h4>
        <ol [innerHTML]="instruction.rules"></ol>
        <div class="text-center">
          <button class="btn btn-primary btn-lg" (click)="quiz()">
            Start Quiz
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
