<div class="footer">
  <div class="row">
    <ng-container *ngFor="let item of socialMedia">
      <a href="{{ item.routerlink }}">
        <i class="{{ item?.icon }} icon h5"></i>
      </a>
    </ng-container>
  </div>

  <div class="row">
    <ul>
      <li *ngFor="let item of title; let i=index">
        <a href="{{ item.link }}" class="h6 small text-item">{{ item.label }}</a>
      </li>
    </ul>
  </div>
  <div class="d-flex justify-content-center">
    <p class="h6 small text-center">
      <span class="ms-1">© 2023</span>
      <span> Jyoti Technosoft LLP. All Rights Reserved by </span>
      <a routerLink="jyoti-web" target="_blank">Jyoti Technosoft LLP
      </a>
    </p>
  </div>
</div>
