<footer id="footer" class="footer">
  <div class="footer navbar-light bg-light">
    <div class="p-3">
      <ng-container *ngFor="let data of icons; let i = index">
        <a href="{{data?.link}}" target="_blank">
          <i class="bi bi-{{data.icon}} icon"></i>
        </a>
      </ng-container>
    </div>
  
    <div class="credits">
      © 2023 Copyright
      <a
        class="footer-link"
        routerLink="jyoti-web"
      >
        Jyoti Technosoft LLP
      </a>
    </div>
  </div>
</footer>
