.footer{
    position:absolute;
    width: 100%;
    height: 65px;
    text-align: center;
    bottom: 0;
}
b{
    color: darkblue;
}
a{
    color: blue;
}
@media (max-width: 1300px) {
    .footer {
        font-size: 10px !important;
    }
    .footer .credits {
        font-size: 10px !important;
    }
}

@media (min-width: 1300px) {
    .footer {
        font-size: 14px !important;
    }
}