<mat-toolbar color="primary">
    <mat-icon (click)="sidenav.toggle()" class="h4 example-icon" aria-label="Example icon-button with menu icon">menu</mat-icon>
    <span>
      <img src="assets/img/JT.png" alt="logo" class="d-inline-block image"/>
      <span class="title h5"> Technical Assistant </span>
    </span>
    <span class="example-spacer"></span>
    <span class="user-logo">
      <div class="initial-letter" [matMenuTriggerFor]="belowMenu">
        {{avatarName}}
      </div>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <div mat-menu-item routerLink="/user-profile"> {{userData?.name}} </div>
        <div mat-menu-item (click)="openSignOutDialog()"> Sign Out</div>
      </mat-menu>
    </span>
  </mat-toolbar>
  <div class="main-container">
    <mat-sidenav-container (backdropClick)="close('backdrop')" autosize>
      <mat-sidenav #sidenav [opened]="true" [mode]="'side'">
          <mat-nav-list *ngFor="let menu of menuItem">
            <mat-list-item [disableRipple]="true" [routerLinkActive]="['active']" routerLink="{{menu?.link}}">
              <mat-icon matListItemIcon>{{menu?.icon}}</mat-icon>
              <mat-label matListItemTitle> {{menu.label}} </mat-label>
            </mat-list-item>
          </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="dynamic-content">
          <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>