<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add Quiz</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.close(false)"
  ></button>
</div>

<div class="modal-body">
  <form [formGroup]="addNewForm">
    <div class="row">
      <div class="col-mb-3">
        <input
          type="text"
          placeholder="Quiz Name"
          class="form-control form-data"
          id="quizname"
          formControlName="quizName"
        />
        <div class="form-text text-danger fixed-height">
          <span
            *ngIf="addQuizFormValidator['quizName'].errors?.['required'] && (addQuizFormValidator['quizName'].touched || addQuizFormValidator['quizName'].dirty)"
          >
            Quiz Name is required
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-mb-3">
        <div id="editor"> </div>
      </div>
    </div>

    <div class="row">
      <div class="col-mb-3">
        <input
          type="number"
          placeholder="Timer"
          class="form-control form-data"
          id="timer"
          formControlName="timer"
        />
        <div class="form-text text-danger fixed-height">
          <span
            *ngIf="addQuizFormValidator['timer'].errors?.['required'] && (addQuizFormValidator['timer'].touched || addQuizFormValidator['timer'].dirty)"
          >
            Please Fill the field
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-mb-3">
        <input
          type="number"
          placeholder="Positive Points"
          class="form-control form-data"
          id="positivePoints"
          formControlName="positivePoints"
        />
        <div class="form-text text-danger fixed-height">
          <span
            *ngIf="addQuizFormValidator['positivePoints'].errors?.['required'] && (addQuizFormValidator['positivePoints'].touched || addQuizFormValidator['positivePoints'].dirty)"
          >
            Please Fill the field
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-mb-3">
        <input
          type="number"
          placeholder="Negative Points"
          class="form-control form-data"
          id="negativePoints"
          formControlName="negativePoints"
        />
        <div class="form-text text-danger fixed-height">
          <span
            *ngIf="addQuizFormValidator['negativePoints'].errors?.['required'] && (addQuizFormValidator['negativePoints'].touched || addQuizFormValidator['negativePoints'].dirty)"
          >
            Please Fill the field
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-mb-3">
        <input
          type="number"
          placeholder="Number of Questions"
          class="form-control form-data"
          id="numberOfQuestions"
          formControlName="numberOfQuestions"
        />
        <div class="form-text text-danger fixed-height">
          <span
            *ngIf="addQuizFormValidator['numberOfQuestions'].errors?.['required'] && (addQuizFormValidator['numberOfQuestions'].touched || addQuizFormValidator['numberOfQuestions'].dirty)"
          >
            Please Fill the field
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-mb-3">
        <input
          type="text"
          placeholder="Title"
          class="form-control form-data"
          id="title"
          formControlName="title"
        />
        <div class="form-text text-danger fixed-height">
          <span
            *ngIf="addQuizFormValidator['title'].errors?.['required'] && (addQuizFormValidator['title'].touched || addQuizFormValidator['title'].dirty)"
          >
            Please Fill the field
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-mb-3">
        <textarea
          class="form-control form-data"
          id="Textarea"
          placeholder="Description"
          rows="3"
          formControlName="description"
        ></textarea>
        <div class="form-text text-danger fixed-height">
          <span
            *ngIf="addQuizFormValidator['description'].errors?.['required'] && (addQuizFormValidator['description'].touched || addQuizFormValidator['description'].dirty)"
          >
            Please Fill the field
          </span>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer d-flex justify-content-end">
  
  <button type="submit" class="btn btn-success" (click)="openDialog()">
    Add Questions
  </button>
</div>
