.form-data {
    padding: 5px;
    box-shadow: none;
    border-radius: 1px;
    width: 100%;
    border-bottom: 2px solid #d1d1d4 !important;
    border: none;
  }

.fixed-height {
  height: 25px;
}

.editor-content{
  height: 120px;
}
.modal-fullscreen  {
  height: auto !important;
}
.modal{
  width: auto;
}