<div class="container-fluid">
  <div class="row align-items-center min-vh-100">
    <div class="mx-auto col-sm-7 col-md-8 col-lg-7 col-xl-6 col-xxl-6">
      <form
        [formGroup]="registrationForm"
        (ngSubmit)="submitform()"
        class="rounded-4 p-4 mt-5 mb-5 bg-light"
      >
        <div class="row g-0">
          <div class="col text-center p-2 mb-3">
            <span class="fs-2">User Registration</span>
          </div>
          <hr />
        </div>

        <div class="row p-2 mt-3">
          <div class="col-md-12">
            <label for="fullname" class="form-label"
              >Full Name (FirstName , LastName)</label
            >
            <input
              type="text"
              class="form-control"
              id="fullname"
              formControlName="fullname"
            />
            <div
              class="form-text text-danger"
              *ngIf="FullName.errors?.['required'] && (FullName.touched || FullName.dirty)"
            >
              Name is required.
            </div>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-md-12">
            <label for="email" class="form-label">Email Address</label>
            <input
              type="text"
              class="form-control"
              id="email"
              formControlName="email"
            />
            <div
              class="form-text text-danger"
              *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)"
            >
              Email is required.
            </div>
            <div
              class="form-text text-danger"
              *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)"
            >
              Email is Invalid.
            </div>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-md-12">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="pwd"
              formControlName="pwd"
            />
            <div
              class="form-text text-danger"
              *ngIf="Pwd.errors?.['required'] && (Pwd.dirty || Pwd.touched)"
            >
              Password is required.
            </div>
            <div
              class="form-text text-danger"
              *ngIf="Pwd.errors?.['minlength'] || Pwd.errors?.['maxlength'] && (Pwd.dirty || Pwd.touched)"
            >
              Password should be at least 6 and at the max 15 characters long.
            </div>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-md-12">
            <div class="cpwd">
              <label for="cpwd" class="form-label">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                id="cpwd"
                formControlName="cpwd"
              />
              <div
                class="form-text text-danger"
                *ngIf="Cpwd.errors?.['required'] && (Cpwd.dirty || Cpwd.touched)"
              >
                confirmnpassword password is Required..
              </div>
              <div
                class="form-text text-danger"
                *ngIf="Cpwd.errors?.['minlength'] || Cpwd.errors?.['maxlength'] && (Cpwd.dirty || Cpwd.touched)"
              >
                confirmPassword should be at least 6 and at the max 15
                characters long.
              </div>
              <div *ngIf="Cpwd.errors?.['confirmPasswordValidator']">
                Passsword and Confirm Password didn't match.
              </div>
              <div
                class="form-text text-danger"
                *ngIf="registrationForm.errors?.['identityRevealed'] && (registrationForm.touched || registrationForm.dirty)"
              >
                Passsword and Confirm Password didn't match.
              </div>
            </div>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-md-12">
            <div class="gender">
              <label for="cpwd" class="form-label">Gender</label>
              <div class="wrapper m-1">
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    class="form-check-input"
                    value="m"
                    id="male"
                    formControlName="gender"
                  />
                  <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    class="form-check-input"
                    value="f"
                    id="female"
                    formControlName="gender"
                  />
                  <label class="form-check-label" for="female">Female</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    class="form-check-input"
                    value="o"
                    id="other"
                    formControlName="gender"
                  />
                  <label class="form-check-label" for="female">Other</label>
                </div>
                <div
                  class="form-text text-danger"
                  *ngIf="Gender.errors?.['required'] && (Gender.dirty || Gender.touched)"
                >
                  Gender is required.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-md-12">
            <label for="birthday"> Date Of Birth :</label>
            <input type="date" formControlName="birthday" [max]="getToday()" />
            <div
              class="form-text text-danger"
              *ngIf="Birthday.errors?.['required'] && (Birthday.dirty || Birthday.touched)"
            >
              Birthday is required.
            </div>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-md-12">
            <label for="mobile" class="form-label">Mobile Number</label>
            <input
              type="text"
              class="form-control"
              id="mobile"
              formControlName="mobile"
            />
            <div
              class="form-text text-danger"
              *ngIf="Mobile.errors?.['required'] && (Mobile.dirty || Mobile.touched)"
            >
              Number is required.
            </div>
            <div
              class="form-text text-danger"
              *ngIf="Mobile.errors?.['pattern'] && (Mobile.dirty || Mobile.touched)"
            >
              Number is Invalid.
            </div>
            <div
              class="form-text text-danger"
              *ngIf="Mobile.errors?.['maxlength'] && (Mobile.dirty || Mobile.touched)"
            >
              Number is long.
            </div>
            <div
              class="form-text text-danger"
              *ngIf="Mobile.errors?.['minlength'] && (Mobile.dirty || Mobile.touched)"
            >
              Number is short.
            </div>
          </div>
        </div>

        <div class="row p-2 mt-3">
          <div class="col-md-12">
            <div class="d-grid mb-2">
              <button
                type="submit"
                [disabled]="!registrationForm.valid"
                class="btn btn-success fs-5"
              >
                Register Now
              </button>
            </div>
          </div>
        </div>

        <div class="row p-3">
          <div class="col-md-12">
            <div class="text-center">
              <label
                ><a routerLink="/login">Already Have an Account ?</a></label
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
