* {
  font-family: Roboto;
}

.fs-3 {
  font-weight: bold;
  color: rgb(63, 63, 236);
}
.card {
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 0px;
  height: auto;
  margin-top: 8% !important;
}

.form-control {
  padding: 5px;
  box-shadow: none;
  border-radius: 1px;
  width: 100%;
  border-bottom: 2px solid #d1d1d4 !important;
  border: none;
}

.btn.btn-success {
  padding: 15px;
  font-size: 17px;
  margin: 10px 10px;
  border-radius: 50px;
  margin-top: 10px;
}
.fixed-height {
  height: 25px;
}

