<div class="container registration-conatiner">
  <div class="card shadow">
    <div class="card-body">
      <form
        [formGroup]="registrationForm"
        (ngSubmit)="submitform(registrationForm.value)"
      >
        <div class="row">
          <div class="col text-center p-2 mb-3">
            <span class="fs-3">User Registration</span>
          </div>
        </div>
        <div class="row">
          <div class="field">
            <div class="col">
              <label for="fullName" class="form-label"
                >Full Name (FirstName , LastName)</label
              >
              <input
                type="text"
                class="form-control"
                id="fullName"
                formControlName="fullName"
              />
              <div
                class="form-text text-danger"
                *ngIf="(registrationFormValidator['fullName'].errors?.['required'] &&  (registrationFormValidator['fullName']?.touched || registrationFormValidator['fullName']?.dirty))"
              >
                Name is required.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="field">
            <div class="col">
              <label for="email" class="form-label">Email Address</label>
              <input
                #email
                type="text"
                class="form-control"
                id="email"
                formControlName="email"
              />
              <div
                class="form-text text-danger"
                *ngIf="(registrationFormValidator['email']?.errors?.['required'] && (registrationFormValidator['email'].dirty ||  registrationFormValidator['email']?.touched))"
              >
                Email is required.
              </div>
              <div
                class="form-text text-danger"
                *ngIf="(registrationFormValidator['email']?.errors?.['email'] && (registrationFormValidator['email']?.dirty || registrationFormValidator ['email']?.touched))"
              >
                Email is Invalid.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="field">
            <div class="col">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                formControlName="password"
              />
              <div
                class="form-text text-danger"
                *ngIf="(registrationFormValidator['password']?.errors?.['required'] && (registrationFormValidator['password']?.dirty || registrationFormValidator['password']?.touched))"
              >
                Password is required.
              </div>
              <div
                class="form-text text-danger"
                *ngIf="registrationFormValidator['password']?.errors?.['pattern']"
              >
                Password should be atleast 8 characters long and should contain
                one number,one character and one special character
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="field">
              <label for="confirmPassword" class="form-label">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                formControlName="confirmPassword"
              />
              <div
                class="form-text text-danger"
                *ngIf="(registrationFormValidator['confirmPassword']?.errors?.['required'] && (registrationFormValidator['confirmPassword']?.dirty || registrationFormValidator['confirmPassword']?.touched))"
              >
                Confirmn Password is Required..
              </div>

              <div
                class="form-text text-danger"
                *ngIf="(registrationFormValidator['confirmPassword']?.errors?.['validateConfirmaPassword'] && registrationFormValidator['confirmPassword']?.touched)"
              >
                Passsword and Confirm Password didn't match.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="field">
            <div class="m-1">Gender</div>
            <div class="wrapper">
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  class="form-check-input"
                  value="male"
                  id="male"
                  formControlName="gender"
                />
                <label class="form-check-label" for="male">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  class="form-check-input"
                  value="female"
                  id="female"
                  formControlName="gender"
                />
                <label class="form-check-label" for="female">Female</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  class="form-check-input"
                  value="other"
                  id="other"
                  formControlName="gender"
                />
                <label class="form-check-label" for="female">Other</label>
              </div>
              <div
                class="form-text text-danger"
                *ngIf="(registrationFormValidator['gender']?.errors?.['required'] && (registrationFormValidator['gender']?.dirty || registrationFormValidator['gender']?.touched))"
              >
                Gender is required.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="field">
              <label for="birthday" class="form-label"> Date Of Birth :</label>
              <input
                type="date"
                class="form-control input-sm"
                formControlName="birthday"
                [max]="todayDate"
                (keydown)="(false)"
              />
              <div
                class="form-text text-danger"
                *ngIf="(registrationFormValidator['birthday']?.errors?.['required'] && (registrationFormValidator['birthday']?.dirty || registrationFormValidator['birthday']?.touched))"
              >
                Birthday is required.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="field">
              <label for="mobile" class="form-label">Mobile Number</label>
              <div class="">
              <input
                type="number"
                formControlName="mobile"
                class="form-control number"
              />
              <div
                class="form-text text-danger"
                *ngIf="(registrationFormValidator['mobile']?.errors?.['required'] && (registrationFormValidator['mobile']?.dirty || registrationFormValidator['mobile']?.touched))"
              >
                Number is required.
              </div>
              <div
                class="form-text text-danger"
                *ngIf="(registrationFormValidator['mobile']?.errors?.['pattern'] && registrationFormValidator['mobile']?.touched && !registrationFormValidator['mobile']?.errors?.['required']) "
              >
                Please insert a valid Mobile number.
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="form-group form-check">
          <div class="field">
            <input
              type="checkbox"
              formControlName="acceptTerms"
              id="acceptTerms"
              class="form-check-input"
            />
            <label for="acceptTerms" class="form-check-label"
              >Accept Terms & Conditions</label
            >
            <div
              *ngIf="(registrationFormValidator['acceptTerms'].value)"
              class="invalid-feedback"
            >
              Accept Ts & Cs is required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="field">
            <div class="col">
              <div class="d-grid">
                <button
                  type="submit"
                  [disabled]="!registrationForm.valid"
                  class="btn btn-success"
                >
                  Register Now
                </button>
                <p class="text-center mt-2">
                  Already have an account? <a routerLink="/login">Log In</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
