* {
  font-family: Roboto;
}
.mx-auto {
  max-width: 500px;
}

.form-control {
  padding: 5px;
  box-shadow: none;
  border-radius: 1px;
  width: 100%;
  border-bottom: 2px solid #d1d1d4 !important;
  border: none;
}

.btn.btn-primary {
  padding: 15px;
  font-size: 17px;
  margin: 10px 10px;
  border-radius: 50px;
  margin-top: 10px;
}
.fixed-height {
  height: 25px;
}
