
.fs-3 {
  font-weight: bold;
  color: rgb(63, 63, 236);
}
.card {
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 0px;
  height: auto;
  margin-top: 8% !important;
}

.form-control {
  padding: 5px;
  box-shadow: none;
  border-radius: 1px;
  width: 100%;
  border-bottom: 2px solid #d1d1d4 !important;
  border: none;
}

.btn.btn-success {
  padding: 15px;
  font-size: 17px;
  margin: 10px 10px;
  border-radius: 50px;
  margin-top: 10px;
}
.fixed-height {
  height: 25px;
}


.date-picker {
    display: flex;
      align-items: center;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: center;
      white-space: nowrap;
      background-color: none !important;
      border-bottom: 2px solid #d1d1d4 !important;
  }


.tel::-webkit-outer-spin-button,
.tel::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.login-hover{
  display: inline-block;
  position: relative;
  color: #0087ca;
  text-decoration: none;
}
.login-hover:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.login-hover:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
