<app-header></app-header>
<div
  id="carouselExampleControlsNoTouching"
  class="carousel slide"
  data-bs-touch="false"
  data-bs-interval="false"
>
  <div class="carousel-inner">
    <div
      id="carouselExampleControls"
      data-bs-interval="false"
      data-wrap="false"
      class="carousel slide"
      data-ride="carousel"
    >
      <form [formGroup]="myForm">

        <div formArrayName="form">
          <ngb-carousel
            #carousel
            *ngIf="question"
            [showNavigationArrows]="false"
            [showNavigationIndicators]="false"
            [interval]="0"
            [keyboard]="false"
            >
            <ng-template
              ngbSlide
              *ngFor="let arrayloop of FormArray.controls; let i = index"
            >
              <ng-container [formGroupName]="i">
                <div class="card" style="width: 60rem; margin-top: 7rem">
                  <div class="card-body">
                    <div class="quiz">
                      <div class="data">
                        {{ "Q-" + (i + 1) }} {{ question[i]['question'] }}
                      </div>
                      <div class="ram">
                        <i
                          style="font-size: 20px; width: 80px"
                          class="fa fa-clock"
                          >&#xf017;
                          {{ FormArray.controls.at(i)?.value?.timer }} sec</i
                        >
                      </div>
                    </div>

              <ng-container *ngFor="let card of question[this.questionIndex].options">
                <div class="form-check">
          
                  <label class="form-check-label" *ngIf="card.type == 'checkbox'"
                    ><input
                      type="checkbox"
                      class="form-check-input"
                      formControlName="radioValue"
                      value="{{card.value}}"
                    />
                    {{card.label}}</label
                  >

                  <label class="form-check-label" *ngIf="card.type == 'radio'"
                    ><input
                      type="radio"
                      class="form-check-input"
                      formControlName="radioValue"
                      value="{{card.id}}"
                    />
                    {{card.label}}</label
                  >
                </div>
  
              </ng-container>
                    <div class="radio-button">
                      <button
                        [disabled]="!FormArray.controls[i].dirty"
                        class="carousel-control-next"
                        id="next"
                        role="button"
                        data-slide="next"
                        type="button"
                        (click)="nextQuestion(i)"
                        class="btn btn-success"
                        aria-hidden="true"
                        data-bs-slide="next"
                        style="
                          position: absolute;
                          left: 73%;

                          width: 20%;
                        "
                      >
                        {{
                          question.length != i+1
                            ? "Next"
                            : "Submit"
                        }}
                      </button>
                      <button
                        [disabled]="FormArray.controls[i].dirty"
                        class="carousel-control-Previous"
                        id="skip"
                        role="button"
                        data-slide="skip"
                        type="button"
                        (click)="skipQuestion(i)"
                        class="btn btn-dark"
                        aria-hidden="true"
                        data-bs-slide="per"
                        style="
                          position: absolute;
                          left: 40%;

                          width: 20%;
                        "
                      >
                        Skip
                      </button>
                      <button
                        [disabled] = "i == 0"
                        class="carousel-control-Previous"
                        id="previous"
                        role="button"
                        data-slide="Previous"
                        type="button"
                        (click)="previousQuestion(i)"
                        class="btn btn-primary"
                        aria-hidden="true"
                        data-bs-slide="per"
                        style="
                          position: absolute;
                          left: 7.5%;
                          width: 20%;
                        "
                      >
                        Previous
                      </button>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-template>
          </ngb-carousel>
        </div>
      </form>
    </div>
  </div>
</div>
