.quizContainer {

  padding: 0 40px;
  margin: 40px auto;

  .timer-input {
    width: 30px;
    border-radius: 0.375rem;
    border: none;
    background: none;
    color: #4472b7;
  }

  .mr-10 {
    margin-right: 10px;
  }

  .timer {
    color: #4472b7;
    height: 45px;

    .timer-sec {
      font-size: 18px;
      height: auto;
      width: auto;
      color: #fff;
      line-height: 30px;
      background: #343a40;
      border: 1px solid #343a40;
      padding: 0vh 2vh;
    }
  }

  .p-10 {
    padding: 10px;
  }

  .que-txt {
    box-sizing: border-box;
  }

  .option {
    background: rgb(245 249 253 / 48%);
    border: 1px solid rgb(119 163 211 / 48%);
    cursor: pointer;

    &:hover {
      background: #b0c6e7cc;
      color: black;
    }
  }

  .hightlight-selected {
    background: #367dc8;
    border: 1px solid #6b9ce9 !important;
    color: white;
  }

  .card-header, .card-footer{
    height: 60px;
    background: rgb(255 255 255 / 48%);
    color: #4472b7;
  }

  .quiz-card {
    box-shadow: 10px 15px 30px -25px #367dc8;
  }

  .link-primary {
    font-size: 16px;
    padding: 6px;
  }

  .mr-10 {
    margin-right: 10px;
  }

  .common-btn {
    border: none;
    border-radius: 5px;
    width: 25%;
    height: 35px;
  }

  .btn-next {
    background: rgb(16 144 27 / 94%);
    color: white;
    box-shadow: 0 5px 10px rgb(120 206 108 / 94%);
    transition: 0.2s;
    &:hover {
      box-shadow: 0 0 40px 40px rgb(186 234 194) inset;
      color: rgb(12 61 15);
      font-weight: 500;
    }
  }

  .btn-skip {
    background: #367dc8;
    color: white;
    box-shadow: 0 5px 10px #a4c4e6;
    transition: 0.2s;
    &:hover:not([disabled]) {
      box-shadow: 0 0 40px 40px rgb(146, 199, 235) inset;
      color: #174b83;
      font-weight: 500;
    }
    &:disabled {
      background: #8f9ba8;
    }
  }

  .btn-exit {
    background: #ce2a2af0;
    color: white;
    box-shadow: 0 5px 10px #e7b1b1f0;
    transition: 0.2s;
    &:hover {
      box-shadow: 0 0 40px 40px rgb(255 162 145) inset;
      color: rgb(251 4 4);
      font-weight: 500;
    }
  }

  .btn-back {
    color: rgb(27, 26, 26);
    border: 1px solid #dadbdd;
    width: 30%;
    height: 35px;
    font-size: 15px;
    font-weight: 500;
    &:hover {
      background: #dddddd;
    }
  }
}


