
.header_txt {
  z-index: 1;
  height: 70px;
  .header_title {
    font-size: 25px;
    font-weight: 600;
  }
}

.timer {
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
  height: 45px;
  width: 145px;
  .timer_left_txt {
    font-size: 17px;
    font-weight: 600;
  }
  .timer_sec {
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 40px;
    color: #fff;
    line-height: 30px;
    background: #343a40;
    border: 1px solid #343a40;
  }
}

.que_txt {
  font-size: 20px;
  box-sizing: border-box;
  .que_data {
    font-size: 20px;
    font-weight: 600;
  }
}

.option {
  background: rgb(222, 239, 255);
  border: 1px solid #84c5fe;
  font-size: 17px;
  cursor: pointer;
}

.hightlight-selected {
  background: rgb(133, 190, 255) !important;
  border: 1px solid #4a98ff !important;
  font-weight: 600;
}

.footer_txt {
  z-index: 1;
  height: 70px;
}


