<div
  id="carouselExampleControlsNoTouching"
  class="carousel slide"
  data-bs-touch="false"
  data-bs-interval="false"
>
  <div class="carousel-inner">
    <div
      id="carouselExampleControls"
      data-bs-interval="false"
      data-wrap="false"
      class="carousel slide"
      data-ride="carousel"
    >
      <form [formGroup]="myForm">
        <div formArrayName="form">
          <ngb-carousel
            #carousel
            *ngIf="name"
            [showNavigationArrows]="false"
            [showNavigationIndicators]="false"
            [interval]="0"
            [keyboard]="false"
          >
            <ng-template
              ngbSlide
              *ngFor="let arrayloop of FormArray.controls; let i = index"
            >
              <ng-container [formGroupName]="i">
                <div class="container-fluid">
                  <div class="d-flex align-items-center min-vh-100">
                    <div class="container mx-auto">
                      <div class="card quiz_card">
                        <div class="card-header header_txt">
                          <div class="header_title">
                            {{ [this.selectedQuizType] }}
                          </div>
                          <div class="timer">
                            <div class="timer_left_txt">Time Left</div>
                            <div class="timer_sec">
                              {{ FormArray.controls.at(i)?.value?.timer }}
                            </div>
                          </div>
                        </div>

                        <div class="card-body que_txt">
                          <div class="que_data">
                            {{ "Q-" + (i + 1) }} {{ question[i]["question"] }}
                          </div>

                          <div class="option_list">
                            <ng-container
                              *ngFor="
                                let card of question[this.questionindex].options
                              "
                            >
                              <div class="form_check">
                                <label
                                  class="form-check-label option"
                                  *ngIf="card.type == 'checkbox'"
                                  [ngClass]="
                                    FormArray.controls.at(i)?.value
                                      .radioValue === card.value
                                      ? 'hightlight-selected'
                                      : ''
                                  "
                                >
                                  <input
                                    type="checkbox"
                                    class="form-check-input opt_check"
                                    formControlName="radioValue"
                                    value="{{ card.value }}"
                                  />
                                  {{ card.lable }}
                                </label>

                                <label
                                  class="form-check-label option"
                                  *ngIf="card.type == 'radio'"
                                  [ngClass]="
                                    FormArray.controls.at(i)?.value
                                      .radioValue === card.value
                                      ? 'hightlight-selected'
                                      : ''
                                  "
                                >
                                  <input
                                    type="radio"
                                    class="form-check-input opt_check"
                                    formControlName="radioValue"
                                    value="{{ card.value }}"
                                  />
                                  {{ card.lable }}
                                </label>
                              </div>
                            </ng-container>
                          </div>
                        </div>

                        <div class="card-footer footer_txt">
                          <div class="total_que">
                            <p>
                              <span>{{ i + 1 }}</span> Of
                              <span>{{ question.length - 1 }}</span> Questions
                            </p>
                          </div>

                          <div class="form_btn">
                            <button
                              [disabled]="i == 0"
                              class="carousel-control-Previous"
                              id="previous"
                              role="button"
                              data-slide="Previous"
                              type="button"
                              (click)="prev(i)"
                              class="btn btn-primary"
                              aria-hidden="true"
                              data-bs-slide="per"
                            >
                              Previous
                            </button>

                            <button
                              [disabled]="FormArray.controls[i].dirty"
                              class="carousel-control-Previous"
                              id="skip"
                              role="button"
                              data-slide="skip"
                              type="button"
                              (click)="skip(i)"
                              class="btn btn-dark"
                              aria-hidden="true"
                              data-bs-slide="per"
                            >
                              Skip
                            </button>

                            <button
                              [disabled]="!FormArray.controls[i].dirty"
                              class="carousel-control-next"
                              id="next"
                              role="button"
                              data-slide="next"
                              type="button"
                              (click)="next(i)"
                              class="btn btn-success"
                              aria-hidden="true"
                              data-bs-slide="next"
                            >
                              {{ question.length != i + 1 ? "Next" : "Submit" }}
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-template>
          </ngb-carousel>
        </div>
      </form>
    </div>
  </div>
</div>