.confirmation-box {
  padding: 10px;
  border-radius: 15px;
  margin-right: 13px;
}

.box-content {
  border-bottom: 0px;
}

.no-btn {
  background: #ce2a2af0;
  color: white;
  width: 15%;
  box-shadow: 0 5px 10px #e7b1b1f0;
  transition: 0.2s;
  &:hover {
    box-shadow: 0 0 40px 40px rgb(255 162 145) inset;
    color: rgb(251 4 4);
  }
}

.yes-btn {
  background: rgb(16 144 27 / 94%);
  color: white;
  width: 15%;
  box-shadow: 0 5px 10px rgb(120 206 108 / 94%);
  transition: 0.2s;
  &:hover {
    box-shadow: 0 0 40px 40px rgb(186 234 194) inset;
    color: rgb(12 61 15);
  }
}

.cross-btn {
  opacity: 4.5;
  border: 0px;
  background-color: none;
}

.footer-content {
  border-top: 0px;
}

// To remove model content border
.modal-content {
  border: none !important;
}
