.confirmation-box {
  padding: 10px;
  border-radius: 15px;
  margin-right: 13px;
}

.box-content {
  border-bottom: 0px;
}

.no-btn {
  color: rgb(27, 26, 26);
  border: 1px solid #dadbdd;
  background: #dddddd;
  border-radius: 5px;
  width: 15%;
  font-weight: 500;
  &:hover {
    background: #dddddd;
  }
}

.yes-btn {
  background: #367dc8;
  color: white;
  width: 15%;
  box-shadow: 0 5px 10px #a4c4e6;
  transition: 0.2s;
  &:hover {
    box-shadow: 0 0 40px 40px rgb(146, 199, 235) inset;
    color: #174b83;
  }
}

.cross-btn {
  opacity: 4.5;
  border: 0px;
  background-color: none;
}

.footer-content {
  border-top: 0px;
}

// To remove model content border
.modal-content {
  border: none !important;
}
