* {
  font-family: Roboto;
}

.userlogo {
  width: 60px;
  height: 60px;
}

.fixed-height {
  height: 10px;
}

.form-control {
  margin-top: 10px;
  width: 100%;
  border-radius: 1px;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #d1d1d4 !important;
}
.col-sm-10 {
  max-width: 500px;
}

.d-grid {
  margin-top: 20px;
}

.btn.btn-primary {
  width: 100%;
  font-weight: bold;
  border: none;
  padding: 14px 20px;
  margin: 8px 0px;
  border-radius: 50px;
  font-size: 16px;
}
