$grey1: #d1d1d4;
$steel_blue: #4682b4;

:host {

  .allForms {
    height: 330px;
  }

  .userlogo {
    width: 60px;
    height: 60px;
    margin-top: -6%;
  }

  .logoImg {
    display: flex;
    justify-content: center;

    .h5 {
      margin-bottom: 0.3rem !important;
      line-height: 1.5 !important;
    }
  }

  .fixed-height {
    height: 10px;
  }

  .mb-20 {
    margin-bottom: 20px;
  }

  .mr-20-px {
    margin-right:  20px;
  }

  mat-form-field {
    mat-icon {
      padding: 8px !important;
      color: gray !important;
    }
  }

  mat-radio-button {
    color: $steel_blue;
  }

  .form-control {
    margin-top: 10px;
    width: 100%;
    border-radius: 1px;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid $grey1 !important;
    background-color: #f8f9fa;
  }

  .btn {
    width: 30%;
    border-radius: 15px;
    bottom: 20px;
    background: $steel_blue;
    color: white;
    .icon {
      &:before {
        font-weight: bold !important;
      }
    }
  }
  .btn.btn-primary {
    font-weight: bold;
    border: none;
    padding: 10px;
    margin: 10px 64px;
    border-radius: 50px;
    font-size: 16px;
  }

  .progressbar {
    width: 100%;
    height: 5rem;

    .account:before {
      content: "\F47A";
    }

    .person:before {
      content: "\F4DA";
    }

    .finish:before {
      content: "\F26E";
    }
  }

  .progressbar li {
    &:after {
      .finish {
        width: 50%;
      }
    }
  }

  .progressbar li.active:before,
  .progressbar li.active:after {
    background: $steel_blue;
  }

  .progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
    color: gray;
  }

  .progressbar li {
    &:before {
      position: inherit;
      width: 50px;
      height: 50px;
      line-height: 45px;
      display: block;
      font-size: 20px;
      color: #ffffff;
      background: lightgray;
      border-radius: 50%;
      margin: 0 auto 10px auto;
      padding: 2px;
      z-index: 2;
    }

    &:after {
      content: "";
      width: 100%;
      height: 2px;
      background: lightgray;
      position: absolute;
      top: 25px;
      z-index: 1;
    }
  }

  .progressbar li.account {
    &:after {
        left: 25px;
    }
  }

  .progressbar li.finish {
    &:after {
        right: 25px;
    }
  }

  .progressbar li:before {
    font-family: bootstrap-icons;
    justify-content: center;
    display: flex;
  }

  .bi-arrow-left::before {
    font-size: 30px;
    color: $steel_blue;
  }

  .login {
    height: 100vh;
    background: #f3f3f3;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  mat-card {
    margin: 0 auto;
  }

  .logo-image {
    width: 40px;
  }

  .mat-mdc-raised-button:not(:disabled) {
    background-color: $steel_blue;
    color: white;
  }

  .title {
    border-bottom: 3px solid #98c01c;
    color: #367dc8;
    font-weight: bold;
  }

  .text-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .containt-row {
    display: flex;
    flex-direction: row;
  }

  .login-card {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-title {
    color: $steel_blue;
    font-weight: bold;
    font-size: 40px;
  }

  a {
    cursor: pointer;
    color: #367dc8;
    &:hover {
      color: #367dc8;
      text-decoration: underline;
    }
  }

  .error-mess {
    color: #f44336;
    margin-bottom: 5px;
  }

  .login-btn {
    background: #4682b4;
    color: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px #a4c4e6;
    transition: 0.2s;
    &:hover:not([disabled]) {
      box-shadow: 0 0 40px 40px rgb(146, 199, 235) inset;
      color: #174b83;
      font-weight: 500;
    }
    &:disabled {
      background: #174b83;
      border-color: #174b83;
    }
  }

  .back-btn {
    color: rgb(27, 26, 26);
    border: 1px solid #dadbdd;
    background: #dddddd;
    border-radius: 5px;
    font-weight: 500;
    &:hover {
      background: #dddddd;
    }
  }
}
