<div class="container-fluid">
  <div class="row align-items-center min-vh-100">
    <div class="mx-auto col-sm-5 col-md-6 col-lg-5 col-xl-4 col-xxl-3">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="formSubmitted(loginForm.value)"
        class="rounded-4 mt-5 mb-5 bg-light"
      >
        <div class="col text-center p-3">
          <img src="assets/img/login.png" class="image" alt="loginLogo" />
          <br>
          <span class="fs-2">Login</span>
        </div>

        <div class="row p-3">
          <div class="col-md-12">
            <label for="emailId" class="form-label">Email Address</label>
            <input
              type="text"
              class="form-control"
              id="emailId"
              formControlName="emailId"
            />
            <div
              class="form-text text-danger"
              *ngIf="(loginFormControl['emailId']?.errors?.['required'] && (loginFormControl['emailId']?.dirty ||  loginFormControl['emailId']?.touched))"
            >
              Email is required
            </div>

            <div
              class="form-text text-danger"
              *ngIf="(loginFormControl['emailId']?.errors?.['email'] && (loginFormControl['emailId']?.dirty || loginFormControl['emailId']?.touched))"
            >
            Email is Invalid
            </div>
          </div>
        </div>

        <div class="row p-3">
          <div class="col-md-12">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
            />
            <div
              class="form-text text-danger"
              *ngIf="(loginFormControl['password']?.errors?.['required'] && (loginFormControl['password']?.dirty || loginFormControl['password']?.touched))"
            >
              Password is required
            </div>
            <div
              class="form-text text-danger"
              *ngIf="(loginFormControl['password']?.errors?.['pattern'])"
            >
            Password should be at least 8 characters long , at most 15 characters and should contain
            one number,one character and one special character.
            </div>
          </div>
        </div>

        <div class="row p-3">
          <div class="col-md-12">
            <div class="d-grid">
              <button
                type="submit"
                [disabled]="!loginForm.valid"
                class="btn btn-primary fs-5"
              >
                Log in
              </button>
            </div>
          </div>
        </div>

        <div class="row p-3">
          <div class="col-md-12">
            <div class="text-center">
              <label>
                Don't Have an Account ?<a routerLink="/registration">
                  Register Now</a
                >
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
