<div class="card shadow" style="width: 25rem; margin-top: 80px;">
    <div class="card-body">
        <form [formGroup]="adminForm" (ngSubmit)="formSubmitted()" class="">
            <div class="row g-0">
                <div class="col text-center">
                    <img src="assets/img/login.png" width="60px" height="60px">
                    <br>
                    <span class="fs-4">Login</span>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label for="emailId" class="form-label" >Email
                        Address</label>
                    <input type="text" class="form-control" id="emailId" formControlName="email">
                    <div class="form-text text-danger"
                        *ngIf="">
                        Email is required.
                    </div>
                    <div class="form-text text-danger"
                        *ngIf="">
                        Email is Invalid.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password"  formControlName="password">
                    <div class="form-text text-danger"
                        *ngIf="">
                        Password is required.
                    </div>
                    <div class="form-text text-danger"
                        *ngIf="">
                        Password should be at least 6 and at the max 15 characters long.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-mb-3">
                    <div class="d-grid">
                        <button type="button" [disabled]="!adminForm?.valid" (click)="formSubmitted()" class="btn btn-primary" 
                            style="margin-top: 30px;" >Log in</button>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h6>Don't Have an Account ?<a href="/userregistration"> Register Now</a></h6>
            </div>
        </form>
    </div>
    
</div>




        <!-- <button type="button" class="btn btn-success">Register as User</button>
        <button type="button" class="btn btn-success">Register as Admin</button> -->