<form [formGroup]="formGroup">
  <div formArrayName="questions">
    <div class="wrapper-md">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Question</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="activeModal.close(false)"
        ></button>
      </div>
      <div class="modal-body">
        <ngb-carousel
          #carousel
          *ngIf="questions?.length"
          [showNavigationArrows]="false"
          [showNavigationIndicators]="false"
          [interval]="0"
          [keyboard]="false"
        >
          <ng-template
            ngbSlide
            *ngFor="
              let question of addQuestionFormValidator.controls;
              let i = index
            "
          >
            <ng-container [formGroupName]="i">
              <div class="mb-2">
                <label for="question" class="fw-bold">Question</label>
                <input
                  type="text"
                  class="form-control"
                  formArrayName="question"
                />
                <div class="form-text text-danger fixed-height">
                  <span
                    *ngIf="
                      addQuestionFormValidator.controls[i].get('questions')
                        ?.touched &&
                      addQuestionFormValidator.controls[i].get('questions')
                        ?.errors
                    "
                    >Fill this field</span
                  >
                </div>
              </div>

              <ng-template
                *ngFor="
                  let option of addQuestionFormValidator.controls;
                  let i = index
                "
              >
                <ng-container [formGroupName]="i">
                  <div class="mb-2">
                    <label for="option" class="fw-bold">Option</label>
                    <div class="mb-3">
                      <input
                        type="text"
                        class="form-control"
                        formArrayName="option"
                      />
                      <div class="form-text text-danger fixed-height">
                        <span
                          *ngIf="
                            addQuestionFormValidator.controls[i].get('option')
                              ?.touched &&
                            addQuestionFormValidator.controls[i].get('option')
                              ?.errors
                          "
                          >Fill this field</span
                        >
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-template>

              <div class="mb-2">
                <label for="correct-answer" class="fw-bold"
                  >Correct Answer</label
                >
                <input
                  type="text"
                  class="form-control"
                  formArrayName="answer"
                />
                <div class="form-text text-danger fixed-height">
                  <span
                    *ngIf="
                      addQuestionFormValidator.controls[i].get('answer')
                        ?.touched &&
                      addQuestionFormValidator.controls[i].get('answer')?.errors
                    "
                    >Fill this field</span
                  >
                </div>
              </div>
            </ng-container>
            <div class="modal-footer">
              <button
                [disabled]="i == 0"
                type="button"
                class="btn btn-success justify-content-start"
                (click)="previousQuestion(i)"
              >
                Previous Question
              </button>
              <button
                [disabled]="questionIndex != i + 1"
                type="button"
                class="btn btn-success justify-content-end"
                data-dismiss="modal"
                (click)="activeModal.close(false)"
              >
                Add Quiz
              </button>
              <button
                type="button"
                class="btn btn-success justify-content-end"
                data-slide="next"
                (click)="nextQuestion(i)"
              >
                {{
                  questionIndex != i + 1 ? "Add New Question" : "Add Questions"
                }}
              </button>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</form>
