//importing boostrap file
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
//font awosome
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");

$bg-colour: #fff;
$steel_blue: #4682b4;
* {
  font-family: 'Poppins', sans-serif;
  // font-family: 'open-sans,open sans' !important;
}

html,
body {
  height: 100%;
}

body {
  background: $bg-colour;
}

// @font-face {
//   font-family: Roboto;
//   src: url(assets/fonts/Roboto-Regular.ttf) format("truetype");
// }

.center-to-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 90%;
}

::-webkit-scrollbar {
  width: 9px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b9babd;
  border-radius: 10px;
}

.mdc-list-item--with-leading-icon .mdc-list-item__start {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;

  &.info-snackbar {
    --mdc-snackbar-container-color: #4682b4;
  }

  &.error-snackbar {
    --mdc-snackbar-container-color: #d72626;
  }

  &.success-snackbar {
    --mdc-snackbar-container-color: #5b9d70;
  }
}

.mdc-list-item__primary-text {
  font-family: 'Poppins', sans-serif !important;
}

mat-icon {
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b9babd;
}
