*{
    font-family: Roboto;
}
body{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
@font-face{
    font-family: Roboto;
    src:url(assets/fonts/Roboto-Regular.ttf) format('truetype');
}

//importing boostrap file 

@import "~bootstrap/dist/css/bootstrap.css";