//importing boostrap file
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//font awosome
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");

$bg-colour: #fff;
$steel_blue: #4682b4;
* {
  font-family: Roboto;
}

html,
body {
  height: auto;
  min-height: 100%;
}

body {
  background: $bg-colour;
}

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-Regular.ttf) format("truetype");
}

.center-to-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 90%;
}

@media (max-width: 500px) {
  .center-to-page {
    position: initial !important;
    transform: none !important;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 9px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b9babd;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b9babd;
}

// btn-primary 
.btn-primary {
  background-color: $steel_blue !important;
}
