:host {
    .main-div {
        // height: calc(100vh - 64px);
        padding: 0 40px;
    }

    .containt-row {
        display: flex;
        flex-direction: row;
    }

    .card-layout {
        border-radius: 15px;
        padding: 15px;
    }
}
