<mat-toolbar color="primary" *ngIf="!this.flag">
  <span>
    <img src="assets/img/JT.png" alt="logo" class="d-inline-block image"/>
    <span class="title h5"> Technical Assistant </span>
  </span>
</mat-toolbar>
<section [ngClass]="!this.flag ? 'terms' : ''">
  <h2><b>Terms and Conditions  :</b></h2>
  <p><b>What are Terms and Conditions ?</b></p>
  <p>Terms and conditions are part of a that ensure parties understand their contractual rights and obligations.
    Parties draft them into a legal contract, also called a legal agreement, in accordance with local, state, and federal contract laws.
    They set important boundaries that all contract principals must uphold.
  </p>
  <p><b>What’s Included in Terms and Conditions ?</b></p>
  <p>Terms and conditions are very broad in the abstract sense.
    However, they contain more specific provisions depending upon the contract size, industry, and complexity.
    You will find that there are standard components included across several types of terms and conditions.</p>
  <p><b>Purpose of Terms and Conditions  :</b></p>
  <p>The purpose of terms and conditions is to provide a set of instructions for all parties of a contract.
     They also offer guidance to courts regarding the intent and purpose of the transaction at the time it was created.</p>
</section>
